/* GENERAL */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
  font-family: "Maven Pro", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Varela Round", sans-serif;
}





.position-relative {
  position: relative;
}

/* COLORS */
.bg-blue {
  background-color: #003049 !important;
}


/* BORDER */
.borderBottomWhite {
  border-bottom: 1px solid white !important;
}

.borderWhite {
  border: 1px solid white;
}


.bottomShadow {
  -webkit-box-shadow: 0px 7px 5px 0px rgba(120, 120, 120, 0.76) !important;
  box-shadow: 0px 7px 5px 0px rgba(120, 120, 120, 0.76) !important;
}
.boxShadow{
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.77); 
box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.77);
}



.pointer{
    cursor: pointer;
}

.fontSM{
  font-size: 12px;
}
  .hide{
    display:none !important;
  }
